<div class="container padding-bottom">
  <button *ngIf="showElement && !loading" class="large grilling-button center-item shadowed" [disabled]="loading"
    (click)="onStartToGrill()">
    Let's start grilling!
  </button>

  <app-result-grill-listed [resultGrill]="resultGrill" [totalRounds]="totalRounds"
    (showDetailsEvent)="handlerShowDetails($event)">
  </app-result-grill-listed>

  <app-menus-listed *ngIf="showElement" [grillMenuList]="grillService.grillMenuList$ | async" [loading]="loading">
  </app-menus-listed>
</div>
