.grill-preview {
  height: 30vh;
  max-width: 50vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 1px solid #787676;
  border-radius: 0.5em;
  background-color: #ccc;

}

.container-grill-preview {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
}

.items-colors {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: beige;
  padding: 2px 15px;
  border: 1px solid bisque;
  border-radius: 1em;
  opacity: 90%;
  bottom: 4rem;
  padding-bottom: 8px;
}

.items-colors small {
  margin-left: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.box-color {
  display: inline-flex;
  height: 11px;
  width: 11px;
  border-radius: 2em;
}
