.grill-results {
  display: grid;
  padding: 10px;
  border: 1px solid #787676;
  border-radius: 1em;
  box-shadow: 3px 3px #e1dede;
  min-width: 32em;
  margin: auto;
  margin-top: 20px;
  width: 50em;
}

