<ng-container *ngIf="!loading;else loader">
  <h1 class="center-text">Today's menus!</h1>
  <div class="row grill">
    <div *ngFor="let grillMenu of grillMenuList">
      <div class="grill-menu">
        <h3 class="grill-name">{{grillMenu.menu}}</h3>
        <div *ngFor="let item of grillMenu.items">
          <h4>{{item.name}}</h4>
          <ul>
            <li>Quantity: {{item.quantity}}</li>
            <li>Width: {{item.width}}</li>
            <li>Length: {{item.length}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <div class="shapes"></div>
</ng-template>
