/* You can add global styles to this file, and also import other style files */
@import url('assets/styles/mini-default.min.css');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.center-item {
  left: 50%;
  position: sticky;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

button {
  border-radius: 1em;
  border: 1px solid gray;
  box-shadow: 2px 1px #787676;
  padding: 5px 15px 5px 15px !important;
}
